/* Estilo para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo para la cabecera */
.header {
    background: url('../Imagenes/Indesx.jpg') no-repeat center center;
    background-size: cover;
    height: 150px;

    background-color: #50b3a2;
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 2em;
}

/* Estilo para el contenedor principal */
.container {
    background-color: white;
    margin: 2em;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px #000;
}

/* Estilo para el RadioButtonList */
#rblBuscarPor {
    margin-bottom: 1em;
}

/* Estilo para los TextBox */
#txtConsulta, #txtConsulta2 {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Estilo para el botón Consultar */
#btnConsultar {
    background-color: #33ACFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    #btnConsultar:hover{
        background-color: #439482;
    }

#btnNuevo {
    background-color: #50b3a2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    #btnNuevo:hover {
        background-color: #439482;
    }

/* Estilo para el GridView */
#dgvUniverso {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

    #dgvUniverso th {
        background-color: #50b3a2;
        color: white;
    }

    #dgvUniverso td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #dgvUniverso tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #dgvUniverso tr:hover {
        background-color: #ddd;
    }

/* */
#btnNuevo0 {
    background-color: #50b3a2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    #btnNuevo0:hover {
        background-color: #439482;
    }

#dgvUniversoEditoriales {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

    #dgvUniversoEditoriales th {
        background-color: #50b3a2;
        color: white;
    }

    #dgvUniversoEditoriales td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #dgvUniversoEditoriales tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #dgvUniversoEditoriales tr:hover {
        background-color: #ddd;
    }

/* */
#btnNuevo1 {
    background-color: #50b3a2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    #btnNuevo1:hover {
        background-color: #439482;
    }

#dgvUniversoAutores {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

    #dgvUniversoAutores th {
        background-color: #50b3a2;
        color: white;
    }

    #dgvUniversoAutores td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #dgvUniversoAutores tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #dgvUniversoAutores tr:hover {
        background-color: #ddd;
    }

/*------------------------*/

#btnAccion_Click {
    background-color: #50b3a2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    #btnAccion_Click:hover {
        background-color: #439482;
    }